.dialogs {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ChooseDialogs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.messages{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.MessageRecipient{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.unread{
    border: 1px solid #e2e9ee;
    background-color: #e2e9ee;
    padding:  5px;
}

.MessageSender{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.enterMessage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.enterMessage .button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialogsItems .active{
    color: #ff0712;
}

.newMessagesNotification{
  position: absolute;
    right: 30px;
    top: 150px;
    border: 1px solid blue;
    padding: 2px;
}
