.app-wrapper {
   /* display: grid; !*указываем что это grid*!

    height: 50px;
    grid-template-areas: "h h" "n c"; !*указываем как размещены у нас нашт сроки и колонки*!
    grid-template-rows: 60px 2fr;  !*указываем сколько строк*!
    grid-template-columns: 2fr 10fr;
    grid-gap: 20px; !**!!*расстояние между элементами*!*!*/
}

.app-wrapper-content {
    display: flex;
    justify-content: center;
}

.c{
    color: #eaf1f6;
}